{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}"/>
</head>
<body>
    <nav class="navbar navbar-light bg-faded">
        <div class="container">
          <ul class="nav navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "products:list" %}">Products</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="{% url "orders:cart" %}">Cart</a>
            </li>
            <li class="nav-item pull-xs-right">
              <a class="nav-link" href="#">Rejestracja</a>
            </li>
            <li class="nav-item pull-xs-right">
              <a class="nav-link" href="#">Logowanie</a>
            </li>
            <li class="nav-item pull-xs-right">
              <a class="nav-link" href="#">Wyloguj</a>
            </li>
          </ul>
        </div>
    </nav>
    <div class="container">
        {% if messages %}
            <div class="row">
                {% for message in messages %}
                <div class="alert{% if message.tags %} alert-{{ message.tags }}{% endif %}">
                    {{ message }}
                </div>
                {% endfor %}
            </div>
        {% endif %}
        <div class="block">
            {% block content %}{% endblock %}
        </div>
    </div>
</body>
</html>
