{% extends 'base.html' %}

{% block content %}
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>X</th>
            </tr>
        </thead>
        {% for product in products %}
            <tr>
                <td><a href="{{ product.get_absolute_url }}">{{ product }}</a></td>
                <td>{{ product.quantity }}</td>
                <td>{{ product.price_all|floatformat:2}}</td>
                <td><a href="{% url "orders:remove_from_cart" %}?pk={{ product.pk }}">remove</a></td>
            </tr>
        {% endfor %}
        <tfoot>
            <tr>
                <td colspan="2">
                    Total:
                </td>
                <td colspan="2">
                    <strong>{{ total|floatformat:2 }}</strong>
                </td>
            </tr>
        </tfoot>
    </table>
    <a class="btn btn-primary" href="{% url 'orders:prepare' %}">Zamow</a>
{% endblock %}
